@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "list of all users";
    Layout = "~/Views/Shared/_dashboard.cshtml";

}

<h1 class="h1-header mt-5">Users List</h1>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <p>
            <h4>
                List of all users
            </h4>
        </p>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=> model.Name)</th>
                    <th>@Html.DisplayNameFor(model=> model.UserName)</th>
                    <th>@Html.DisplayNameFor(model=> model.Email)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                        <tr class="text-center">
                            <td class="align-middle">@Html.DisplayFor(u => user.Name)</td>
                            <td class="align-middle">@Html.DisplayFor(u => user.UserName)</td>
                            <td class="align-middle">@Html.DisplayFor(u => user.Email)</td>
                            <td class="align-middle">
                               <a class="btn btn-outline-primary m-auto d-block" asp-action="Update" asp-route-emaile="@user.Email">Update</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
  
</div>

</div>