@model ShpmentProductVM 

@{
    ViewBag.Title = "Create Shpment Product";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

        <h1 class="h1-header mt-5"> Create Shipment Product</h1>
                <div class="container text-home">
                    <form asp-action="Create" method="post"role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.Description"></label>
                                    <input type="text" asp-for="@Model.ShipmentsProducts.Description" class="form-control" placeholder="Add Description">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.Width"></label>
                                    <input type="text" asp-for="@Model.ShipmentsProducts.Width" class="form-control" placeholder="Add Width">
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.Length"></label>
                                    <input type="text" asp-for="@Model.ShipmentsProducts.Length" class="form-control" placeholder="Add Length">
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.Height"></label>
                                    <input type="text" asp-for="@Model.ShipmentsProducts.Height" class="form-control" placeholder="Add Height">
                                </div>
                            </div>


                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.Weight"></label>
                                    <input type="text" asp-for="@Model.ShipmentsProducts.Weight" class="form-control" placeholder="Add Weight">
                                </div>
                            </div>
                            
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentsProducts.IsBreakable"></label>
                                     <select class="form-control"  asp-for="@Model.ShipmentsProducts.IsBreakable" >
                                         <option value="true">true</option>
                                         <option value="false">false</option>
                                     </select>
                                  
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Shipments"></label>
                                    <select class="form-control"  asp-for="@Model.ShipmentId" asp-items="@Model.Shipments" ></select>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success w-30">Add Shipment</button>
                                  <a asp-action="Index" class="btn btn-danger">Back To List</a>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>