@model ShpmentProductVM 

@{
    ViewBag.Title = "Update Shpment Product";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}
        <h1 class="h1-header mt-5"> Update Shipment Product</h1>
                <div class="container text-home">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="Update" method="post" role="form">
                        <input hidden asp-for="@Model.Id"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Description"></label>
                                    <input type="text" asp-for="@Model.Description" class="form-control" placeholder="Add Description">
                                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Width"></label>
                                    <input type="number" asp-for="@Model.Width" class="form-control" placeholder="Add Width">
                                    <span asp-validation-for="@Model.Width" class="text-danger"></span>
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Length"></label>
                                    <input type="number" asp-for="@Model.Length" class="form-control" placeholder="Add Length">
                                    <span asp-validation-for="@Model.Length" class="text-danger"></span>
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Height"></label>
                                    <input type="number" asp-for="@Model.Height" class="form-control" placeholder="Add Height">
                                    <span asp-validation-for="@Model.Height" class="text-danger"></span>
                                </div>
                            </div>


                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Weight"></label>
                                    <input type="number" asp-for="@Model.Weight" class="form-control" placeholder="Add Weight">
                                    <span asp-validation-for="@Model.Weight" class="text-danger"></span>
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.IsBreakable"></label>
                                     <select class="form-control"  asp-for="@Model.IsBreakable" >
                                         <option value="true">true</option>
                                         <option value="false">false</option>
                                     </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Shipments"></label>
                                    <select class="form-control"  asp-for="@Model.ShipmentId" asp-items="@Model.Shipments" ></select>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success w-30">Update Shipment</button>
                                   <a asp-action="Index" class="btn btn-danger">Back To List</a>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>