@model ShipmentVM 

@{
    ViewBag.Title = "Create Shipment";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

        <h1 class="h1-header mt-5"> Create Shipment</h1>
                <div class="container text-home">
                    <div class="text-danger">
                        <div asp-validation-summary="All">

                        </div>
                    </div>
                    <form asp-action="Create" method="post"role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Price"></label>
                                    <input type="text" asp-for="@Model.Price" class="form-control" placeholder="Add price">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.OrderNumber"></label>
                                    <input type="text" asp-for="@Model.OrderNumber" class="form-control" placeholder="Add order number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Customers"></label>
                                    <select class="form-control"  asp-for="@Model.CustomersId" asp-items="@Model.Customers" ></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Status"></label>
                                    <select asp-items="@Model.Status" class="form-control" asp-for="@Model.StatusId"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.ShipmentTypeId">Shipment Type Id</label>
                                    <input type="text" asp-for="@Model.ShipmentTypeId" class="form-control" placeholder="Add shipment type Id">
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success w-30">Add Shipment</button>
                                   <a asp-action="Index" class="btn btn-danger">Back To List</a>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>